@import url("https://use.typekit.net/dew1ayt.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  font-family: lato, sans-serif;
}

/**
   * @STYLES FOR THE APP
  */

html {
  min-width: 100%;
  min-height: 100vh;
  background-color: #F7F8FC;
  overflow: hidden;
  --slack-color: #350D36;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  line-height: 1.46668;
}

.blue {
  background-color: #0F64A3;
}

.slack-color-hover:hover {
  background-color: var(--slack-color);
  cursor: pointer;
}

.white-text {
  color: white !important;
}

.show {
  display:  block !important;
  transition: 5s ease-in-out;
}

.dropdown {
  transform: rotate(0deg) scale(1.35) !important;
}

.hide {
  display: none;
}
